.admin-control-panel {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.admin-control-panel h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

.admin-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.admin-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 120px;
  justify-content: center;
  transition: transform 0.2s;
}

.admin-action:hover {
  transform: scale(1.05);
}

.admin-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.purple {
  color: #800080;
}

.blue {
  color: #007bff;
}

.teal {
  color: #17a2b8;
}

.green {
  color: #28a745;
}

.admin-action p {
  font-size: 16px;
  color: #555;
  margin: 0;
}

/* For screens smaller than 768px, make the title smaller and show 2 squares per row */
@media (max-width: 768px) {
  .admin-control-panel h2 {
    font-size: 20px;
    margin-top: 10%;
}

  .admin-actions {
      gap: 10px;
  }

  .admin-action {
      width: 45%;  /* Adjust width to fit two cards per row */
      height: 100px;  /* Adjust height to match the smaller width */
      padding: 15px;
  }

  .admin-icon {
      font-size: 28px;
      margin-bottom: 8px;
  }

  .admin-action p {
      font-size: 14px;
  }
}

/* For screens smaller than 480px, stack the squares one per row */
@media (max-width: 480px) {

  .admin-action {
      width: 100%;  /* Make the squares full width */
      height: 100px;
  }

  .admin-icon {
      font-size: 28px;
  }

  .admin-action p {
      font-size: 14px;
  }
}
