.cart-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  background-color: #f4f4f4;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.promotion input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.promotion button {
  padding: 8px 15px;
  border: 1px solid #ddd;
  background-color: #333;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.totals {
  text-align: right;
}

.totals p {
  margin: 5px 0;
}

.totals h3 {
  color: #27ae60;
}

.payment-info {
  margin-top: 30px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: fit-content;
  margin-left: 35%;
}

.payment-info h3 {
  margin-bottom: 20px;
}

.credit-card-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.credit-card-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.credit-card-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  width: 220px;
}

.submit-order-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
  text-align: center;
}

.submit-order-button:hover {
  background-color: #218838;
}

.remove-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 30px;
  height: 30px;
}

.remove-button:hover {
  background-color: #c0392b;
}

.empty-cart-message {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  color: #555;
}

.empty-cart-message h3 {
  font-size: 2rem;
  color: #333;
}
