.movie-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px; /* Adjust the top padding to create space for the header */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 6%;
}

.movie-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.movie-form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.movie-form-container input,
.movie-form-container select,
.movie-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.movie-form-container textarea {
  resize: vertical;
  height: 100px;
}

.save-button, 
.cancelB {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
}

.save-button:hover {
  background-color: #0056b3;
}
.cancelB {
  background-color: #dc3545;
}
.cancelB:hover {
  background-color:  #c82333;
}

/* Add media query for phone mode */
@media (max-width: 768px) {
  .movie-form-container {
      padding-top: 40px; /* Increase padding for smaller screens */
  }

  .movie-form-container h2 {
      font-size: 20px; /* Decrease font size for smaller screens */
  }
}
