.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 100px); /* Adjust according to your navbar height */
  padding: 20px;
}

.info-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top: 5%;
}

.orders-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.9rem;
}

.orders-button:hover {
  background-color: #0056b3;
}

.user-icon {
  font-size: 2.5rem;
  color: #b5653a;
  margin-bottom: 15px;
}

p {
  font-size: 1.1rem;
  margin: 8px 0;
}

.edit_button, .save_button, .cancel_button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.9rem;
}

.edit_button:hover, .cancel_button:hover {
  background-color: #343a40;
}

.input-group {
  margin-top: 12px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}

.input-group input {
  width: calc(100% - 16px);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.save_button{
  margin-right: 1%;
  background-color: green;
}

.save_button:hover{
  background-color: #0d4a0a;
}

.cancel_button{
  margin-right: 1%;
  background-color: rgb(205, 67, 36);
}

.cancel_button:hover{
  background-color: #a82f0f;
}
/* Media query for screens 600px and below */
@media (max-width: 600px) {
  .info-card {
    max-width: 300px;
    padding: 15px;
  }

  .user-icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .orders-button, .edit_button, .save_button, .cancel_button {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  p {
    font-size: 1rem;
    margin: 6px 0;
  }

  .input-group label {
    font-size: 0.9rem;
  }

  .input-group input {
    padding: 7px;
  }

  .button-group {
    margin-top: 15px;
  }
}
