.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align items vertically */
  height: calc(100vh - 100px); /* Adjust according to your navbar height */
}

.info-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px; /* Add space below the card for the orders button */
}

.orders-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}

.orders-button:hover {
  background-color: #0056b3;
}

.user-icon {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.edit-button, .save-button, .cancel-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}

.edit-button:hover, .save-button:hover, .cancel-button:hover {
  background-color: #0056b3;
}

.input-group {
  margin-top: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
