.manage-showtimes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 250px;
  transition: all 0.3s ease;
}

.search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 8px 12px;
  margin-right: -1px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #f1f1f1;
}

/* Existing CSS for the rest of the layout */

.manage-showtimes-container {
  padding: 20px;
  max-width: 1200px;
  margin: 80px auto 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

.manage-showtimes-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.manage-showtimes-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.manage-showtimes-table th,
.manage-showtimes-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.manage-showtimes-table th {
  background-color: #f4f4f4;
}

.manage-showtimes-table td img {
  width: 50px;
  height: 75px;
  object-fit: cover;
}

.add-showtime-button {
  background-color: #9e71c5;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.add-showtime-button:hover {
  background-color: #8052b1;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .manage-showtimes-container {
    padding: 10px;
    margin-top: 60px;
  }

  .manage-showtimes-container h2 {
    font-size: 18px;
  }

  .manage-showtimes-table th,
  .manage-showtimes-table td {
    padding: 6px;
    font-size: 12px;
  }

  .manage-showtimes-table td img {
    width: 30px;
    height: 45px;
  }

  .add-showtime-button {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Smaller search bar and button for mobile screens */
  .search-bar {
    width: 150px;
    font-size: 10px;
  }

  .search-button {
    padding: 6px 8px;
    font-size: 14px;
  }
}
