.manage-halls-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.manage-halls-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.halls-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.hall-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.hall-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #211309; /* Brown color for the building icon */
}

.plus-icon {
    color: #28a745;
}

.hall-card input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hall-card button {
    background-color: #654930;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}

.hall-card button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.cancel-button:hover {
    background-color: #c9302c;
}

.delete-button {
    background-color: #c9302c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.delete-button:hover {
    background-color: #a8281c;
}

.new-hall-card {
    background-color: #e9f7ef;
}

@media (max-width: 768px) {
    .halls-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .hall-card {
        padding: 15px;
        font-size: 14px;
    }

    .hall-icon {
        font-size: 30px;
    }

    .hall-card button {
        font-size: 12px;
        padding: 5px;
        margin-right: 5px;
    }

    .hall-card input {
        padding: 6px;
        font-size: 12px;
    }
    
    /* Center buttons side by side */
    .hall-card .edit-button,
    .hall-card .delete-button {
        display: inline-block;
        margin-right: 5px;
    }
    
    .hall-card button {
        margin-right: 5px;
        margin-top: 0;
    }

    .manage-halls-container h2 {
        font-size: 20px;
        margin-top: 9%;
    }
}

@media (max-width: 480px) {
    .halls-grid {
        grid-template-columns: 1fr;
    }
    
    .hall-card {
        padding: 10px;
        font-size: 12px;
    }

    .hall-icon {
        font-size: 25px;
    }

    .hall-card button {
        font-size: 10px;
        padding: 4px;
        margin-right: 5px;
    }

    .hall-card input {
        padding: 5px;
        font-size: 10px;
    }
    
    /* Adjust button layout for smaller screens */
    .hall-card .edit-button,
    .hall-card .delete-button {
        margin-top: 5px;
    }
}
