.manage-users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 250px;
  transition: all 0.3s ease;
}

.search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 8px 12px;
  margin-right: -1px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #f1f1f1;
}

/* Existing CSS for the rest of the layout */

.manage-users-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

.manage-users-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.user-card {
  background-color: #f0e6ff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  max-width:  286px;
  max-height: 232px;
}

.admin-card {
  background-color: #e9f7ef;
}

.user-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #333;
}

.manager-button, .managerCancel-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manager-button {
  background-color: #7065b3;
}

.managerCancel-button {
  background-color: #499c5b;
}

.manager-button:hover {
  background-color: #5a4f8c;
}

.managerCancel-button:hover {
  background-color: #218838;
}

.manager-button .fa-user-tie,
.managerCancel-button .fa-user-tie {
  margin-right: 5px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .search-bar {
    width: 150px;
    font-size: 10px;
  }

  .search-button {
    padding: 6px 8px;
    font-size: 14px;
  }
  .users-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
