.manage-showtimes-container {
  padding: 20px;
  max-width: 1200px; /* Set a maximum width for larger screens */
  margin: 0 auto;
}

.manage-showtimes-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.manage-showtimes-table {
  width: 100%;
  max-width: 100%; /* Ensure table width does not exceed container width */
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto; /* Add horizontal scroll for small screens */
}

.manage-showtimes-table th,
.manage-showtimes-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.manage-showtimes-table th {
  background-color: #f4f4f4;
}

.manage-showtimes-table td img {
  width: 50px;
  height: 75px;
  object-fit: cover; /* Ensure images are not distorted */
}

.edit-button,
.delete-button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button {
  background-color: #e74c3c;
}

.edit-button:hover {
  background-color: #5a6268;
}

.delete-button:hover {
  background-color: #c0392b;
}

.add-showtime-button {
  background-color: #9e71c5;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.add-showtime-button:hover {
  background-color: #8052b1;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .manage-showtimes-container {
    padding: 10px;
  }

  .manage-showtimes-container h2 {
    font-size: 18px;
  }

  .manage-showtimes-table th,
  .manage-showtimes-table td {
    padding: 6px;
    font-size: 12px;
  }

  .manage-showtimes-table td img {
    width: 30px;
    height: 45px;
  }

  .edit-button,
  .delete-button {
    padding: 4px 6px;
    font-size: 12px;
  }

  .add-showtime-button {
    padding: 10px;
    font-size: 18px;
  }
}
