.manage-users-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
}

.manage-users-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.user-card {
    background-color: #f0e6ff; /* Default background for regular users */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.admin-card {
    background-color: #e9f7ef; /* Bright green background for admins */
}

.user-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #333; /* Default icon color */
}

.manager-button {
    background-color: #499c5b; /* Green button for creating manager */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manager-button:hover {
    background-color: #218838;
}

.manager-button .fa-user-tie {
    margin-right: 5px;
}
