.manage-orders-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }
  
  .manage-orders-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .order-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .order-header p {
    margin: 0;
  }
  
  .total-price {
    color: #28a745;
    font-size: 18px;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .order-table th,
  .order-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .order-table th {
    background-color: #f2f2f2;
  }
  
  .order-table td {
    font-size: 14px;
  }
  
  .refund-info{
    color:rgb(155, 83, 83);
  }