.manage-orders-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.manage-orders-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.order-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.order-header p {
  margin: 0;
}

.total-price {
  color: #28a745;
  font-size: 18px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

.order-table th,
.order-table td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.order-table th {
  background-color: #f2f2f2;
}

.refund-info {
  color: rgb(155, 83, 83);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .manage-orders-container {
    padding: 10px;
  }

  .manage-orders-container h2 {
    font-size: 18px;
  }

  .order-card {
    padding: 15px;
    margin-bottom: 15px;
  }

  .order-header {
    flex-direction: column; /* Stack the header elements vertically */
    font-size: 14px;
  }

  .order-header p {
    font-size: 14px;
  }

  .total-price {
    font-size: 16px;
  }

  .order-table th,
  .order-table td {
    padding: 8px;
    font-size: 12px;
  }

  .order-table th {
    font-size: 12px;
  }
}
