.manage-halls-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px; /* Adjust this value based on your header height */
}

@media (max-width: 768px) {
    .manage-halls-container {
        margin-top: 80px; /* Ensures the header is not covered in phone mode */
    }
}

.manage-halls-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.halls-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.hall-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.hall-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #211309; /* Brown color for the building icon */
}

.plus-icon {
    color: #28a745;
}

.hall-card input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hall-card button {
    background-color: #654930;
    color: #fff;
    border: none;
    padding: 5px 10px; /* Smaller padding to reduce button size */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    margin-top: 10px;
    margin-right: 5px;
}

.hall-card button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px; /* Smaller padding to reduce button size */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #c9302c;
}

.delete-button {
    background-color: #c9302c;
    color: #fff;
    border: none;
    padding: 5px 10px; /* Smaller padding to reduce button size */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #a8281c;
}

.new-hall-card {
    background-color: #e9f7ef;
}
