/* src/css/Movies.css */

.movies-container {
  padding: 60px 20px 20px; /* Add top padding to prevent content from being cut off by the header */
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.advanced-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.advanced-search input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 10px;
}

.advanced-search button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: column;
}

.movie-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  align-items: center;
}

.movie-card img {
  border-radius: 5px;
  margin-right: 20px;
  max-width: 28%;
}

.movie-info {
  flex-grow: 1;
}

.movie-info h3 {
  margin: 0;
  font-size: 1.5em;
}

.movie-info p {
  margin: 5px 0;
}

.screenings {
  margin-top: 10px;
}

.screening-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.info-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Responsive Styles for Phones */
@media (max-width: 768px) {
  .movie-info h3 {
    font-size: 1.2em; /* Smaller font size for movie title */
  }

  .movie-info p {
    font-size: 0.9em; /* Smaller font size for movie details */
  }
}
