*{
  box-sizing: border-box;
}

html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.carousel-container {
  background-color: #000; /* Match the navbar background */
  overflow: hidden;
  position: relative;
  width: 100vw; /* Full width of the viewport */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100vw * 5); /* Assuming 5 images */
}

.carousel img {
  width: 100vw;
  height: 400px; /* Adjust height as needed */
  object-fit: cover;
  margin-top: 52px;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}



/* src/css/Movies.css */

.movies-container {
  padding: 60px 20px 20px;
  max-width: 800px;
  margin: auto;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.advanced-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.advanced-search input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 10px;
}

.advanced-search button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: column;
}

.movie-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  align-items: center;
}

.movie-card img {
  border-radius: 5px;
  margin-right: 20px;
  max-width: 28%;
}

.movie-info {
  flex-grow: 1;
}

.movie-info h3 {
  margin: 0;
  font-size: 1.5em;
}

.movie-info p {
  margin: 5px 0;
}

.screenings {
  margin-top: 10px;
}

.screening-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.info-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Responsive Styles for Phones */
@media (max-width: 768px) {
  html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  .movie-info h3 {
    font-size: 1.2em;
  }

  .movie-info p {
    font-size: 0.9em;
  }

  .advanced-search input {
    width: 200px; /* Adjust width for smaller screens */
    font-size: 12px; /* Smaller font size */
  }

  .advanced-search button {
    padding: 8px 16px;
    font-size: 12px; /* Smaller button size */
  }
}
