.my-orders-container {
    padding: 20px;
  }
  
  .toggle-orders-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .toggle-orders-button:hover {
    background-color: #0056b3;
  }
  
  .order-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .total-price {
    font-weight: bold;
    color: green;
  }
  
  .refund-info {
    color: red;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .order-table th {
    background-color: #f2f2f2;
  }
  
  .refund-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .refund-button:hover {
    background-color: darkred;
  }
  