/* Base Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons a {
  margin-right: 0.5rem;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.navbar-icons a:hover {
  color: #76a1c7;
}

.navbar-user {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 1rem;
  white-space: nowrap;
}

.navbar-user button {
  background-color: #76a1c7;
  color: #fff;
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.navbar-user button:hover {
  background-color: #5b8db5;
}

/* Responsive Styles for Phones */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
  }

  .navbar-icons a {
    font-size: 0.8rem; /* Makes icons smaller on small screens */
  }

  .navbar-user {
    margin-left: auto;
    padding-left: 0;
  }
}
