/* Base Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem; /* Reduced padding */
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  max-width: -webkit-fill-available;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem; /* Reduced font size */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  margin-right: 1rem; /* Reduced margin */
}

.navbar-icons a {
  margin-right: 0.5rem; /* Reduced margin */
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.navbar-icons a:hover {
  color: #76a1c7;
}

.navbar-links {
  display: flex;
}

.navbar-toggle {
  display: none;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-user-mobile {
  display: none;
}

/* Styles for the Logout Button */
.navbar-user button,
.navbar-user-mobile button {
  background-color: #76a1c7;
  color: #fff;
  border: none;
  padding: 0.2rem 0.5rem; /* Further reduced padding */
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem; /* Further reduced font size */
  margin-left: 0.5rem; /* Reduced margin */
  transition: background-color 0.3s ease-in-out;
}

.navbar-user button:hover,
.navbar-user-mobile button:hover {
  background-color: #5b8db5;
}

/* Responsive Styles for Phones */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0.5rem; /* Reduced padding */
    align-items: flex-start;
  }

  .navbar-toggle {
    display: block;
    background-color: #76a1c7;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
    font-size: 0.9rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .navbar-toggle:hover {
    background-color: #5b8db5;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-top: 1rem;
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar-user {
    display: none;
  }

  .navbar-user-mobile {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}
