/* Base Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  max-width: -webkit-fill-available;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.navbar-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar-links {
  display: flex; /* Show navbar links by default on larger screens */
}

.navbar-toggle {
  display: none; /* Hide the toggle button by default */
}

.navbar-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.navbar-links a:hover {
  color: #76a1c7;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-user-mobile {
  display: none; /* Hide the mobile user section by default */
}

/* Responsive Styles for Phones */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
  }

  .navbar-toggle {
    display: block; /* Show the toggle button on smaller screens */
    background-color: #76a1c7;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem; /* Make the button smaller */
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
    font-size: 0.9rem; /* Adjust font size */
    position: absolute; /* Positioning on the right */
    top: 1rem; /* Adjust as needed */
    right: 1rem; /* Position on the right side */
  }

  .navbar-toggle:hover {
    background-color: #5b8db5;
  }

  .navbar-links {
    display: none; /* Hide links by default on small screens */
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-top: 1rem;
  }

  .navbar-links.show {
    display: flex; /* Show links when the menu is toggled */
  }

  .navbar-user {
    display: none; /* Hide the default user section on smaller screens */
  }

  .navbar-user-mobile {
    display: flex; /* Show the mobile user section on smaller screens */
    align-items: center;
    margin-top: 1rem;
  }
}