/* src/css/SelectSeats.css */

.select-seats-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.selected-showtime h3 {
  margin-bottom: 10px;
}

.selected-showtime p {
  margin: 5px 0;
}

.seats-layout {
  text-align: center;
  margin: 20px 0;
}

.seats-layout h3 {
  margin-bottom: 10px;
}

.seats-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 5px;
  justify-items: center;
}

.seat-button {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size :x-small;
}

.seat-button.selected {
  background-color: green;
  color: white;
}

.seat-button.unavailable {
  background-color: orange;
  color: white;
  cursor: not-allowed;
}

.seat-button:hover:not(.unavailable):not(.selected) {
  background-color: lightgrey;
}

.selected-tickets {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto a new line */
  max-width: 900px; /* Set maximum width */
  gap: 10px; /* Add some space between items */
}

.ticket-info {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 2px;
}

.add-ticket-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.add-ticket-button:hover {
  background-color: #0056b3;
}
